.App {
  text-align: center;
}

.board-list {
  overflow: auto;
  width: 20%;
  height: 100vh;
  position: fixed;
  background: rgb(219, 217, 217);
  left: 0;
}

.board {
  height: 100vh;
  padding: 10px;
  overflow: auto;
}